<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIActionSheet</key>
	<string>UIAActionSheet</string>
	<key>UIActivityIndicatorView</key>
	<string>UIAActivityIndicator</string>
	<key>UIAlertView</key>
	<string>UIAAlert</string>
	<key>UIApplication</key>
	<string>UIAApplication</string>
	<key>UIButton</key>
	<string>UIAButton</string>
	<key>UICollectionViewCell</key>
	<string>UIACollectionCell</string>
	<key>UICollectionView</key>
	<string>UIACollectionView</string>
	<key>UIEditingMenu</key>
	<string>UIAEditingMenu</string>
	<key>UIElement</key>
	<string>UIAElement</string>
	<key>UIElementArray</key>
	<string>UIAElementArray</string>
	<key>UIHost</key>
	<string>UIAHost</string>
	<key>UIKey</key>
	<string>UIAKey</string>
	<key>UIKeyboard</key>
	<string>UIAKeyboard</string>
	<key>UILink</key>
	<string>UIALink</string>
	<key>UILogger</key>
	<string>UIALogger</string>
	<key>UINavigationBar</key>
	<string>UIANavigationBar</string>
	<key>UIPageIndicator</key>
	<string>UIAPageIndicator</string>
	<key>UIPicker</key>
	<string>UIAPicker</string>
	<key>UIPickerWheel</key>
	<string>UIAPickerWheel</string>
	<key>UIPopover</key>
	<string>UIAPopover</string>
	<key>UIProgressIndicator</key>
	<string>UIAProgressIndicator</string>
	<key>UIScrollView</key>
	<string>UIAScrollView</string>
	<key>UISearchBar</key>
	<string>UIASearchBar</string>
	<key>UISecureTextField</key>
	<string>UIASecureTextField</string>
	<key>UISegmentedControl</key>
	<string>UIASegmentedControl</string>
	<key>UISlider</key>
	<string>UIASlider</string>
	<key>UILabel</key>
	<string>UIAStaticText</string>
	<key>UIStatusBar</key>
	<string>UIAStatusBar</string>
	<key>UISwitch</key>
	<string>UIASwitch</string>
	<key>UITabBar</key>
	<string>UIATabBar</string>
	<key>UITableViewCell</key>
	<string>UIATableCell</string>
	<key>UITableGroup</key>
	<string>UIATableGroup</string>
	<key>UITableView</key>
	<string>UIATableView</string>
	<key>UITarget</key>
	<string>UIATarget</string>
	<key>UITextField</key>
	<string>UIATextField</string>
	<key>UITextView</key>
	<string>UIATextView</string>
	<key>UIToolbar</key>
	<string>UIAToolbar</string>
	<key>UIWebView</key>
	<string>UIAWebView</string>
	<key>UIWindow</key>
	<string>UIAWindow</string>
</dict>
</plist>
