<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIActivityIndicatorView</key>
	<string>XCUIElementTypeActivityIndicator</string>
	<key>UIAlertView</key>
	<string>XCUIElementTypeAlert</string>
	<key>UIAlertController</key>
	<string>XCUIElementTypeAlert</string>
	<key>任何控件？</key>
	<string>XCUIElementTypeAny</string>
	<key>UIApplication</key>
	<string>XCUIElementTypeApplication</string>
	<key>浏览器？</key>
	<string>XCUIElementTypeBrowser</string>
	<key>UIButton</key>
	<string>XCUIElementTypeButton</string>
	<key>UITableViewCell</key>
	<string>XCUIElementTypeCell</string>
	<key>单选框？</key>
	<string>XCUIElementTypeCheckBox</string>
	<key>UICollectionView</key>
	<string>XCUIElementTypeCollectionView</string>
	<key>色彩滚轮？</key>
	<string>XCUIElementTypeColorWell</string>
	<key>组合框？</key>
	<string>XCUIElementTypeComboBox</string>
	<key>UIDatePicker</key>
	<string>XCUIElementTypeDatePicker</string>
	<key>向下箭头？</key>
	<string>XCUIElementTypeDecrementArrow</string>
	<key>提示框？</key>
	<string>XCUIElementTypeDialog</string>
	<key>这个我真不知道了</key>
	<string>XCUIElementTypeDisclosureTriangle</string>
	<key>桌面元素？</key>
	<string>XCUIElementTypeDockItem</string>
	<key>抽屉控件？</key>
	<string>XCUIElementTypeDrawer</string>
	<key>田型控件？</key>
	<string>XCUIElementTypeGrid</string>
	<key>组型控件？</key>
	<string>XCUIElementTypeGroup</string>
	<key>处理控件？</key>
	<string>XCUIElementTypeHandle</string>
	<key>帮助按钮？</key>
	<string>XCUIElementTypeHelpTag</string>
	<key>图标？</key>
	<string>XCUIElementTypeIcon</string>
	<key>image控件？</key>
	<string>XCUIElementTypeImage</string>
	<key>向上箭头？</key>
	<string>XCUIElementTypeIncrementArrow</string>
	<key>键控件？</key>
	<string>XCUIElementTypeKey</string>
	<key>UIKeyboard</key>
	<string>XCUIElementTypeKeyboard</string>
	<key>布局区域？</key>
	<string>XCUIElementTypeLayoutArea</string>
	<key>布局元素？</key>
	<string>XCUIElementTypeLayoutItem</string>
	<key>层级指示？</key>
	<string>XCUIElementTypeLevelIndicator</string>
	<key>UILink</key>
	<string>XCUIElementTypeLink</string>
	<key>地图？</key>
	<string>XCUIElementTypeMap</string>
	<key>不懂了？</key>
	<string>XCUIElementTypeMatte</string>
	<key>菜单控件？</key>
	<string>XCUIElementTypeMenu</string>
	<key>菜单栏？</key>
	<string>XCUIElementTypeMenuBar</string>
	<key>菜单栏元素？</key>
	<string>XCUIElementTypeMenuBarItem</string>
	<key>菜单按钮？</key>
	<string>XCUIElementTypeMenuButton</string>
	<key>菜单元素？</key>
	<string>XCUIElementTypeMenuItem</string>
	<key>UINavigationBar</key>
	<string>XCUIElementTypeNavigationBar</string>
	<key>其他元素？</key>
	<string>XCUIElementTypeOther</string>
	<key>划线元素？</key>
	<string>XCUIElementTypeOutline</string>
	<key>划线箭头？</key>
	<string>XCUIElementTypeOutlineRow</string>
	<key>UIPageIndicator</key>
	<string>XCUIElementTypePageIndicator</string>
	<key>UIPicker</key>
	<string>XCUIElementTypePicker</string>
	<key>UIPickerWheel</key>
	<string>XCUIElementTypePickerWheel</string>
	<key>弹出按钮？</key>
	<string>XCUIElementTypePopUpButton</string>
	<key>UIPopover</key>
	<string>XCUIElementTypePopover</string>
	<key>UIProgressIndicator</key>
	<string>XCUIElementTypeProgressIndicator</string>
	<key>复选框按钮？</key>
	<string>XCUIElementTypeRadioButton</string>
	<key>复选框组？</key>
	<string>XCUIElementTypeRadioGroup</string>
	<key>等级指示器？</key>
	<string>XCUIElementTypeRatingIndicator</string>
	<key>关联指示器？</key>
	<string>XCUIElementTypeRelevanceIndicator</string>
	<key>规则控件？</key>
	<string>XCUIElementTypeRuler</string>
	<key>规则标记</key>
	<string>XCUIElementTypeRulerMarker</string>
	<key>滚动条？</key>
	<string>XCUIElementTypeScrollBar</string>
	<key>UIScrollView</key>
	<string>XCUIElementTypeScrollView</string>
	<key>UISearchBar</key>
	<string>XCUIElementTypeSearchField</string>
	<key>UISecureTextField</key>
	<string>XCUIElementTypeSecureTextField</string>
	<key>UISegmentedControl</key>
	<string>XCUIElementTypeSegmentedControl</string>
	<key>UIActionSheet</key>
	<string>XCUIElementTypeSheet</string>
	<key>UISlider</key>
	<string>XCUIElementTypeSlider</string>
	<key>分裂组？</key>
	<string>XCUIElementTypeSplitGroup</string>
	<key>分裂器？</key>
	<string>XCUIElementTypeSplitter</string>
	<key>UILabel</key>
	<string>XCUIElementTypeStaticText</string>
	<key>UIStatusBar</key>
	<string>XCUIElementTypeStatusBar</string>
	<key>UIStepper</key>
	<string>XCUIElementTypeStepper</string>
	<key>UISwitch</key>
	<string>XCUIElementTypeSwitch</string>
	<key>UITabBarItem</key>
	<string>XCUIElementTypeTab</string>
	<key>UITabBar</key>
	<string>XCUIElementTypeTabBar</string>
	<key>标签组？</key>
	<string>XCUIElementTypeTabGroup</string>
	<key>UITableView</key>
	<string>XCUIElementTypeTable</string>
	<key>列？</key>
	<string>XCUIElementTypeTableColumn</string>
	<key>行？</key>
	<string>XCUIElementTypeTableRow</string>
	<key>UITextField</key>
	<string>XCUIElementTypeTextField</string>
	<key>UITextView</key>
	<string>XCUIElementTypeTextView</string>
	<key>时间线？</key>
	<string>XCUIElementTypeTimeline</string>
	<key>这是啥？</key>
	<string>XCUIElementTypeToggle</string>
	<key>UIToolbar</key>
	<string>XCUIElementTypeToolbar</string>
	<key>UIToolbarButton</key>
	<string>XCUIElementTypeToolbarButton</string>
	<key>值指示器？</key>
	<string>XCUIElementTypeValueIndicator</string>
	<key>UIWebView</key>
	<string>XCUIElementTypeWebView</string>
	<key>UIWindow</key>
	<string>XCUIElementTypeWindow</string>
	<key>mac的那个？</key>
	<string>XCUIElementTypeTouchBar</string>
</dict>
</plist>
